# WeatherApp development (Watchtower in WEATHERAPP_SERVICES)
COMPOSE_PROJECT_NAME=vs-weatherapp-development
WEATHERAPP_NETWORK_NAME=vs-weatherapp-development-network
WEATHERAPP_DOCKER_PROFILE=development
WEATHERAPP_SERVICES=postgresql,api,ui,gateway,watchtower
ROOT_WSL_PATH=

WEATHER_DB_PASSWORD=ChangeMe_Weather1
WEATHER_DATABASE_CONNECTION_STRING=Host=weatherapp-postgresql;Port=5432;Database=weather;Username=weather;Password=ChangeMe_Weather1

WEATHER_CORS_ORIGINS=http://ui.weatherapp.dev.projects.volnyja-siervisy.site:9080,http://ui.weatherapp.dev.projects.volnyja-siervisy.site
WEATHER_API_PUBLIC_BASE_URL=http://api.weatherapp.dev.projects.volnyja-siervisy.site:9080

# Watchtower
WATCHTOWER_CLEANUP=true
WATCHTOWER_LABEL_ENABLE=true
WATCHTOWER_INCLUDE_STOPPED=false
